@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Tiro+Devanagari+Hindi:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&family=Tiro+Devanagari+Hindi:ital@0;1&display=swap');

:root{
    --nav-bg: #2a2e63;
    --main-bg: #4A4C9C;   
    --card: rgba(216,213,247, 0.2);
    --text: white;
    --main-font: Raleway;
    --score-font: 'Special Gothic Expanded One'
    ;
}

::-webkit-scrollbar{
    background-color: var(--card);
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--nav-bg);
    border-radius: 6px;
}

body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg);
    font-family: var(--main-font);
}
h2{
    font-family: var(--main-font);
    text-align: center;
    font-size: 2rem;
    color: var(--text);
}
.image-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 70px;
    height: 300px;
}
.image-container .vs{
    color: white;
    font-family: var(--main-font);
    font-weight: 800;
    font-size: 2.5rem;
}
.image-container img{
    width: 300px;
    padding: 20px;
    background-color: yellow;
    border-radius: 50%;
}
.button-set{
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 70px auto 0;
}
.button-set button{
    font-size: 1.5rem;
    background-color: yellow;
    padding: 20px 5px;
    border: none;
    border-radius: 10px;
    color: orangered;
    font-weight: 900;
    font-family: var(--main-font);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.button-set button:hover{
    background-color: orangered;
    color: orange;
    transform: scale(1.03);
}
.score-board{
    font-family: var(--score-font);
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin: 50px auto 0;
    font-size: 1.5rem;
    text-align: center;
}
.score-board-bg{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
    border-radius: 20px;
}

.top-score-data{
    font-size: 2rem;
}

/*Game Over*/

.game-over .game-msg {
    color: white;
    font-weight: 700;
    padding: 50px 70px;
    border-radius: 20px;
    position: absolute;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.game-over .game-msg .text{
    font-size: 2rem;
    text-align: center;
}
.game-over .game-msg .score-gained{
    margin-top: 20px ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.game-over .game-msg .restart-btn{
    width: 60%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 30px auto 0;
}
.game-over .game-msg button{
    font-size: 1.2rem;
    background-color: yellow;
    padding: 20px 0px;
    border: none;
    border-radius: 10px;
    color: orangered;
    font-weight: 900;
    font-family: var(--main-font);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.game-over .game-msg button:hover{
    background-color: orangered;
    color: orange;
    transform: scale(1.03);
}
.blur{
    filter: blur(20px);
}
@keyframes scalePop {
    0% {
        transform: scale(0.3) translate(-50%, -50%);
        opacity: 0;
    }
    100% {
        transform: scale(1) translate(-50%, -50%);
        opacity: 1;
    }
}

.game-msg {
    animation: scalePop 0.4s ease-in-out;
}